USE [master]
GO
/****** Object:  Database [HumanResources]    Script Date: 11/05/2022 21:30:06 ******/
CREATE DATABASE [HumanResources]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HumanResources', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HumanResources.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HumanResources_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HumanResources_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HumanResources].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HumanResources]
GO
/****** Object:  Table [dbo].[Alajuela]    Script Date: 11/05/2022 21:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alajuela](
	[idTeacher] [int] NOT NULL,
	[name] [varchar](10) NOT NULL,
	[lastname] [varchar](10) NOT NULL,
	[age] [int] NOT NULL,
	[e-mail] [nchar](30) NOT NULL,
	[active] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cartago]    Script Date: 11/05/2022 21:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cartago](
	[idTeacher] [int] NOT NULL,
	[name] [nchar](10) NOT NULL,
	[lastname] [nchar](20) NOT NULL,
	[age] [int] NOT NULL,
	[e-mail] [nchar](30) NOT NULL,
	[active] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_Jose]    Script Date: 11/05/2022 21:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_Jose](
	[idTeacher] [int] NOT NULL,
	[name] [nchar](10) NOT NULL,
	[lastname] [nchar](30) NOT NULL,
	[age] [int] NOT NULL,
	[e-mail] [nchar](30) NOT NULL,
	[active] [bit] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
